body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
}
