*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f7f9f8;
    font-family:"Arial",sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    user-select: none;

}

.student-card{
    background-color: aliceblue;
    width:280px;
    height:350px;
    border:2px solid blue;
    border-radius: 15px; 
    text-align: center;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.2);


}

.header{
   background-color: rgb(0, 187, 255); 
   color:bisque;
   padding:15px;
   font-size: 19px;
   font-weight:bold;
   letter-spacing:1px;

}

.photo img{
    width:130px;
    height:130px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 10px;
    border:3px solid blue;

}
.info h2{
    font-size:20px;
    margin-bottom:8px;
    color:blueviolet;
}

.info p{
    font-size: 16px;
    color:blueviolet;
    margin:4px 0;
}